## Deliverable 3. Create a Travel Itinerary Map.

In [84]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [85]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,1,Surt,LY,81.23,31.2089,16.5887,ŸÅŸÜÿØŸÇ ÿßŸÑŸÖÿØŸäŸÜÿ©
1,2,Vaini,TO,73.72,-21.2000,-175.2000,Keleti Beach Resort
2,3,Hithadhoo,MV,81.73,-0.6000,73.0833,Scoop Guest House
3,4,Touros,BR,76.62,-5.1989,-35.4608,INN NEW HORIZON
4,11,Twentynine Palms,US,89.98,34.1356,-116.0542,Holiday Inn Express & Suites Twentynine Palms-...

In [86]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} ¬∞F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [87]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
vacation_df["Coordinates"]=vacation_df[["Lat","Lng"]].apply(tuple, axis=1)
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name,Coordinates
0,1,Surt,LY,81.23,31.2089,16.5887,ŸÅŸÜÿØŸÇ ÿßŸÑŸÖÿØŸäŸÜÿ©,"(31.2089, 16.5887)"
1,3,Hithadhoo,MV,81.73,-0.6000,73.0833,Scoop Guest House,"(-0.6, 73.0833)"
2,11,Twentynine Palms,US,89.98,34.1356,-116.0542,Holiday Inn Express & Suites Twentynine Palms-...,"(34.1356, -116.0542)"
3,14,Jacareacanga,BR,80.04,-6.2222,-57.7528,Casa do Ianüòé,"(-6.2222, -57.7528)"
4,17,Le Robert,MQ,80.65,14.6775,-60.9392,HARMONY HEBERGEMENT,"(14.6775, -60.9392)"

In [92]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start_df = vacation_df.loc[(vacation_df["City"]=="Jamestown")]
vacation_end_df = vacation_df.loc[(vacation_df["City"]=="Jamestown")]
vacation_stop1_df = vacation_df.loc[(vacation_df["City"]=="Bethel")]
vacation_stop2_df = vacation_df.loc[(vacation_df["City"]=="Palmer")] 
vacation_stop3_df = vacation_df.loc[(vacation_df["City"]=="Roma")] 
vacation_start_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
24,56,Jamestown,US,70.02,42.097,-79.2353,Hampton Inn & Suites Jamestown

In [89]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start["Lat"]).to_numpy()[0],(vacation_start["Lng"]).to_numpy()[0]
stop1 = (vacation_stop1["Lat"]).to_numpy()[0],(vacation_stop1["Lng"]).to_numpy()[0]
stop2 = (vacation_stop2["Lat"]).to_numpy()[0],(vacation_stop2["Lng"]).to_numpy()[0]
stop3 = (vacation_stop3["Lat"]).to_numpy()[0],(vacation_stop3["Lng"]).to_numpy()[0]
end = (vacation_end["Lat"]).to_numpy()[0],(vacation_end["Lng"]).to_numpy()[0]
stop1

(41.3712, -73.414)

In [90]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
start2end = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING', show_markers= True
        )
fig.add_layer(start2end)
fig

Figure(layout=FigureLayout(height='420px'))

In [95]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start_df, vacation_stop1_df, vacation_stop2_df,vacation_stop3_df],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,56,Jamestown,US,70.02,42.0970,-79.2353,Hampton Inn & Suites Jamestown
1,295,Bethel,US,68.09,41.3712,-73.4140,Courtyard by Marriott Danbury
2,441,Palmer,US,67.62,42.1584,-72.3287,Wedgewood Motel
3,378,Roma,US,66.09,43.2128,-75.4557,Wingate By Wyndham Rome

In [96]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} ¬∞F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [110]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure()
start2end = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING'
        )
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))